$clickWidth: 3px

#CodeEditor
  display: flex
  height: 100%

#CEDirectoryStructure
  overflow-x: hidden
  overflow-y: scroll
  height: 100%
  width: 300px
  background-color: rgba(70, 70, 70, 0.8)
  margin-right: -$clickWidth

#CECodeEditor
  height: 100%
  width: 600px
  background-color: rgba(50, 50, 50, 0.8)
  margin-right: -$clickWidth
  margin-left: -$clickWidth

#CEConsole
  height: 100%
  width: 600px
  background-color: rgba(50, 50, 50, 0.8)
  margin-right: -$clickWidth
  margin-left: -$clickWidth

.verticalSeparator
  z-index: 1000
  height: 100%
  display: inline-block
  cursor: col-resize
  padding:
    left: $clickWidth
    right: $clickWidth

.verticalLine
  width: 1px
  height: 100%
  background-color: rgba(255, 255, 255, 0.6)

.directoryControls
  width: 100%
  border-bottom: 1px solid #fff
  display: flex

.directoryContainer
  padding: 5px

.directoryTop
  padding:
    top: 3px
  height: 22px
  overflow-y: hidden
  overflow-x: hidden
  white-space: nowrap

.directoryArrow
  width: 8px
  height: 8px

.directoryIcon
  width: 20px

.directoryName
  font-family: sans-serif

.directoryTop:hover
  background-color: rgb(100, 100, 100, 0.5)

.file
  white-space: nowrap

.file:hover
  background-color: rgb(100, 100, 100, 0.5)

.fileIcon
  height: 18px

.fileName
  font-family: sans-serif

.selected
  background-color: rgb(128, 128, 128, 0.5)

#CEConsole
  display: grid
  grid-template-rows: 1fr auto 300px
  grid-auto-columns: 100%

#consoleExecuteButton
  float: right

.consoleLog
  display: flex
  flex-direction: column
  overflow-y: scroll

.consoleControls
  width: 100%
  border-top: 1px solid #fff
  display: flex

.consoleButton
  display: block
  padding: 3px
  margin: 4px
  background: #444444
  border: 1px solid #2d2d2d

.consoleButton > img
  display: block
  width: 15px
  cursor: pointer

.consoleInput
  height: 300px
  border:
    top: 1px solid white

.logMessage
  font-family: sans-serif
  font-size: 15px
  padding: 5px
  border:
    top: 1px solid white

.logMessage:last-child
  border:
    bottom: 1px solid white

.logError
  background-color: rgba(225, 0, 0, 0.4)
  border:
    top: 1px solid rgb(225, 0, 0)

.logWarning
  background-color: rgba(228, 167, 0, 0.4)
  border:
    top: 1px solid rgb(228, 167, 0)