$clickWidth: 3px

#CodeEditor
  display: flex
  height: 100%

#CEFolderStructure
  height: 100%
  width: 300px
  background-color: rgba(255, 255, 255, 0.4)
  margin-right: -$clickWidth
  padding: 5px

#CECodeEditor
  height: 100%
  width: 300px
  background-color: rgba(255, 255, 255, 0.2)
  margin-left: -$clickWidth

.verticalSeparator
  z-index: 1000
  height: 100%
  display: inline-block
  cursor: col-resize
  padding:
    left: $clickWidth
    right: $clickWidth

.verticalLine
  width: 1px
  height: 100%
  background-color: rgba(255, 255, 255, 0.6)

.folderArrow
  width: 24px
  height: 24px

.directory
  padding:
    top: 4px
    bottom: 3px

.directoryIcon
  width: 15px


.collapsed

.directoryTop

.directoryArrow
  width: 8px
  height: 8px
  position: relative
  top: -2px

.fileIcon
  height: 18px
  position: relative
  bottom: -1px

.directoryName

.selected
  background-color: rgba(0, 0, 125, 0.8)